<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>Máquina Norma</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js"
            integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl"
            crossorigin="anonymous"></script>
    <link href="{{ url_for('static', filename='css/materialize.css') }}" type="text/css" rel="stylesheet"
          media="screen,projection"/>
    <link href="{{ url_for('static', filename='css/style.css') }}" type="text/css" rel="stylesheet"
          media="screen,projection"/>
</head>
<body>
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <h1 class="header center blue-grey-text">Máquina Norma</h1>
        <div class="row center">
            <h5 class="header col s12 light">Um simulador da máquina norma baseado em Python</h5>
        </div>
        <br><br>
    </div>
</div>


<div class="container">
    <!-- Page Layout here -->
    <div class="row">
        <div class="col s12 m4 l3 blue-grey"> <!-- Note that "m4 l3" was added -->
            <!-- Grey navigation panel

                  This content will be:
              3-columns-wide on large screens,
              4-columns-wide on medium screens,
              12-columns-wide on small screens  -->
            <div class="row">
                <div class="col s12">
                    <div class="input-field col s12">
                        <select id="reg_list">
                            <option value="" disabled selected>Escolha um registrador</option>
                            <option value="A">A</option>
                            <option value="B">B</option>
                            <option value="C">C</option>
                            <option value="D">D</option>
                            <option value="E">E</option>
                            <option value="F">F</option>
                        </select>
                        <label for="reg_list">Selecione um registrador</label>
                    </div>
                    <a class="waves-effect waves-light col s12 btn" id="btn-set0">
                        REG := 0
                    </a>
                    <div class="row">
                        <div class="col s12">
                            <div class="input-field inline">
                                <input id="n_val" type="text" class="validate">
                                <label for="n_val">N</label>
                            </div>
                            <a class="waves-effect waves-light col s12 btn" id="btn-setN">
                                REG := N
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="divider"></div>
            <br>
            <div class="row">
                <div class="col s12">
                    <a class="waves-effect waves-light col s12 btn " id="btn-addBtoA">
                        A := A + B
                    </a>
                    <a class="waves-effect waves-light col s12 btn" id="btn-addBtoAwC">
                        A := A + B usando C
                    </a>
                    <a class="waves-effect waves-light col s12 btn" id="btn-setBtoA">
                        A := B usando C
                    </a>
                    <a class="waves-effect waves-light col s12 btn" id="btn-multAwB">
                        A := A &times; B com C, D
                    </a>
                    <a class="waves-effect waves-light col s12 btn" id="btn-testBgreaterA">
                        A < B
                    </a>
                    <a class="waves-effect waves-light col s12 btn" id="btn-testBgreatereqA">
                        A &le; B
                    </a>
                </div>
            </div>
            <br>
            <div class="divider"></div>
            <br>
            <div class="row">
                <div class="col s12">
                    <div class="input-field inline">
                        <input id="n_push" type="text" class="validate">
                        <label for="n_push">Valor para a Pilha</label>
                    </div>
                    <a class="waves-effect waves-light col s12 btn" id="btn-push">
                        Push
                    </a>
                </div>
            </div>
            <a class="waves-effect waves-light col s12 btn" id="btn-pop">
                Pop
            </a>
            <br><br><br>
            <div class="divider"></div>
            <br>
            <div class="row">
                <div class="col s12">
                    <div class="input-field inline">
                        <input id="n_fat" type="text" class="validate">
                        <label for="n_fat">Valor para Fatorial</label>
                    </div>
                    <a class="waves-effect waves-light col s12 btn" id="btn-fat">
                        Fatorial
                    </a>
                </div>
            </div>
            <div class="divider"></div>
            <div class="row">
                <div class="col s12">
                    <div class="input-field inline">
                        <input id="base" type="text" class="validate s1">
                        <label for="base">Base</label>
                    </div>
                    <div class="input-field inline">
                        <input id="exp" type="text" class="validate s1">
                        <label for="exp">Expoente</label>
                    </div>
                    <br>
                    <a class="waves-effect waves-light col s12 btn" id="btn-power">
                        Potenciação
                    </a>
                </div>
            </div>
            <div class="divider">
            <br>
            </div>
            <a class="waves-effect waves-light col s12 btn deep-orange" id="btn-reset">
                Reset
            </a>
            <br><br>
        </div>

        <div class="col s12 m8 l9 teal"> <!-- Note that "m8 l9" was added -->
            <!-- Teal page content

                  This content will be:
              9-columns-wide on large screens,
              8-columns-wide on medium screens,
              12-columns-wide on small screens  -->
            <table class="striped centered responsive-table">
                <thead>
                <tr>
                    <th>A</th>
                    <th>B</th>
                    <th>C</th>
                    <th>D</th>
                    <th>E</th>
                    <th>F</th>
                    <th>Pilha</th>
                    <th>Ponteiro Pilha</th>
                </tr>
                </thead>

                <tbody id="result">
                </tbody>
            </table>
            <div class="row orange-dark">
                <div class="container">
                    <h5>Mensagens</h5>
                    <p class="white-text text-lighten-4 dark-orange" id="msg_box">
                    </p>
                </div>
            </div>
            <br><br>
        </div>

    </div>
    <br><br>
</div>

<footer class="page-footer blue-grey">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Sobre o Projeto</h5>
                <p class="grey-text text-lighten-4">
                    Este projeto foi desenvolvido como trabalho prático para a
                    disciplina de Teoria da Computação. O código do projeto está disponível no
                    <a class="teal-text text-lighten-4" href="https://github.com/pvicari/norma-machine">Github.</a>
                    Contribuições são bem-vindas.
                </p>
            </div>
            <div class="col l6 s12">
                <h5 class="white-text">Máquina Norma</h5>
                <p class="grey-text text-lighten-4">
                    A Máquina Universal Norma possui como memória um conjunto
                    infinito de registradores naturais e três instruções sobre
                    cada registrador: <i>adição</i> e <i>subtração</i>
                    do valor um, e <i>teste se o valor armazenado é zero</i>.
                </p>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Feito por
            <a class="teal-text text-lighten-3" href="http://github.com/pvicari">
                <i class="fab fa-github"></i>&nbsp;Pedro Vicari
            </a> e
            <a class="teal-text text-lighten-3" href="http://github.com/deadpyxel">
                <i class="fab fa-github"></i>&nbsp;Robson Cruz
            </a>
        </div>
    </div>
</footer>


<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/materialize.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/init.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/handlers.js') }}"></script>
</body>
</html>
